:root {
  --blue: #2196f3;
  --hero_color: #2f303a;
  --primary_gray: #757575;
  --button_text: #ffffff;
  --title_color: #212121;
  --color_rgba: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--button_text);
}
/* убрал маркир список */
.list {
  list-style: none;
}
/* Убирает подчеркивание в ссылках */
.link {
  text-decoration: none;
}
/* Логотип */
.logo {
  color: var(--title_color);
  font-family: raleway, cursive;
}

.logoblue {
  color: var(--blue);
}

.link current {
  color: var(--blue);
}
.site-nav:hover:focus {
  color: var(--blue);
}
.site-nav {
  color: var(--title_color);
}
.site-nav:active {
  color: var(--primary_gray);
}
.button:active {
  color: var(--title_color);
}
.hero {
  background-color: var(--hero_color);
  color: var(--button_text);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
/* оформи кнопку плять */
.button_text {
  background-color: var(--blue);
  color: var(--button_text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  font-family: inherit;
}
.link-text {
  color: var(--title_color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary_gray);
}
.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title_color);
}
.text-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title_color);
}
.dev {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary_gray);
}
.footer {
  background-color: var(--hero_color);
}
.white {
  background-color: var(--button_text);
}
